@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.formkit-inner {
  position: relative;
}

.formkit-icon {
  position: absolute;
  bottom: 13px;

  display: flex;

  width: 30px;

  aspect-ratio: 1 / 1;

  &.formkit-suffix-icon {
    right: 0;
  }
}
